*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

header h1{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

main{
    width: 50%;
    height: 400px;
    background-color: #ffffff;
    border-radius: 20px;
}

.input{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.inptEmail{
    width: 98%;
    height: 2.8rem;
    border-radius: 0.5rem;
    border: 2px solid gray;
    color: gray;
    font-size: 18px;
    margin-top: 40px;
}

.inptSenha{
    width: 98%;
    height: 2.8rem;
    border-radius: 0.5rem;
    border: 2px solid gray;
    color: gray;
    font-size: 18px;
    margin-top: 2rem;
}

.button{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

#cancel{
    background-color: #ffffff;
    border: 2px solid #313131;
    border-radius: 0.5rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 250px;
    height: 40px;
}

#login{
    background-color: #313131;
    border-radius: 0.5rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    width: 250px;
    height: 40px;
}

